# Виртуальное окружение
venv/
env/

# Файлы Python
__pycache__/
*.py[cod]
*.sqlite3

# Логи
*.log

# Секретные файлы (если есть)
.env

# Статика и медиа (если собираются отдельно)
staticfiles/
media/

# Бэкапы и временные файлы
*.bak
*.tmp

# Конфигурация IDE
.idea/
.vscode/

# База данных (если используешь SQLite на dev)
db.sqlite3
