@media (max-width: 1440px) {





  .form-button {
    display: inherit;
  }
  }
  
/*@media (max-width: 1024px) {
  .nav-list {
    gap: 40px;
  }

  .logo img {
    width: 120px;
  }

  .location img {
    width: 60vw;
  }

  .nav-link, .cta-button-text {
    font-size: 20px;
  }

  .contacts .container {
    flex-direction: column;
  }

  }
  
@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .header.desktop {
    display: none;
  }
  .header.mobile {
    display: flex;
  }

  .feature_header {
    font-size: clamp(24px, 6vw, 36px) !important;
  }

  .about_grid {
    grid-template-columns: 1fr !important;
  }
  .form-group input {
    height: 80px;
    font-size: 24px;
  }

  
  .card {
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
  }

  .card-image {
    padding-right: 0;
    width: 120px;
    flex-shrink: 0;
  }

  .card-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .card-inner {
    padding: 0 0 0 20px;
    width: auto;
  }

  .card-inner h3 {
    font-size: 24px;
    margin: 0;
  }

  .card-inner p {
    font-size: 16px;
    opacity: 0.6;
    margin-top: 8px !important;
  }
}*/
  
@media (max-width: 576px) {

  .header.desktop {
    display: none;
  }
  .header.mobile {
    display: flex;
  }

  .about_grid{
    display:flex;
    flex-direction:column;
    gap: 2vw;
  }

  .main {
    margin-top:20vw;
  }

  .burger-menu{
    display:none;
  }

  .burger-menu-content{
    display:none;
  }

  .header .container{
    padding: 0;
    height: 14vw;
    margin: 0;
    flex-grow: 1;
    padding: 0 5vw;
    background-color:#fff;
    border-radius: 10vw;

  }

  .logo-mobile{
    font-size: 8vw;
    letter-spacing: -0.5vw;
    font-weight: 450;
  }

  .cta-button-mobile{
    padding-top:2vw;
  }

  .hero .container {
    border-radius: 8vw;
    padding: 0;
  }

  section {
    padding-bottom: 30vw;
  }
  
  .container {
    width: 95%;
  }
  
  .header {
    display: none;
  }
  .header.mobile {
    padding: 3vw;
  }

  .mobile {
    display: block;
  }

  .cakeboy{
    gap: 8vw;
  }

  .case-container{
    flex-direction:column;
  }

  .case-image{
    width: 100%;
    height: 80vw;
    border-radius: 8vw;
  }

  .case-name-container{
    gap:0;
  }



  .case-title{
    font-size: 6vw;
  }

  .case-name-container .text-main{
    font-size:4vw;
  }

  .location {
    justify-content: flex-end;
    padding: 4vw 4vw;
  }

  .location .text-main {
    display: none;
  }

  .location-icon {
    width: 208px;
  }

  .hero-title{
    justify-content:space-between;
    gap:3vw;
  }

  .hero-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 30vw 4vw 10vw 4vw;
    
  }

  .hero-text {
    
  font-size: 14vw;
  font-weight: 450;
  line-height: 1;
  letter-spacing: -0.6vw;
  width: 35vw;
  }

  .hero-icon {
    height: 8vw;
    margin-bottom: 2vw;
  }

  .hero-info .text-main {
    margin-top: 10vw;
    text-align: left;
    font-size: 4vw;
    letter-spacing: -0.1vw;
  }

  .step-wrapper .text-main {
    text-align: left;
    font-size: 5vw;
    letter-spacing: -0.1vw;
    padding-top: 4vw;
  }

  .section-title {
    font-size: 5.5vw;
    padding-left: 3vw;
    letter-spacing: -0.2vw;
    margin: 0;
  }

  .process .container {
    display:flex;
    flex-direction: column;
    gap:3vw;
  }

  .process-title .text-main{
    display:none;
  }

  .feature {
    padding: 4vw;
    border-radius: 8vw;
    gap: 10vw;
  }
  .scroll {
    height:auto;
    gap: 24vw;
  }

  .team {
    display:flex;
    flex-direction:column;
    gap: 6vw;
  }

  .truncate {
    font-size: 4vw;
    width: 60vw;
  }

  .card {
    flex-direction:column;
    align-items: flex-start;
    gap:3;
  }

  .responsive{
    width: 60vw;
    height: 60vw;
    border-radius: 8vw;
  }

  .card-inner{
    padding-right: 0;
    padding-left: 3vw;
  }

  .card-inner .text-title {
    font-size:6vw;
  }

  .feature_header {
    font-size: 12vw;
    font-weight: 450;
    padding-top: 4vw;
    margin-bottom:0;
    line-height: 1;
  }

  .feature_text {
    font-size: 6vw;
    padding-bottom: 8vw;
    letter-spacing: -0.1vw;
    margin:0;
  }

  .team-title {
    font-size: 14vw;
    font-weight: 450;
    line-height: 1;
    letter-spacing: -0.6vw;
  }


  .process-title {
    padding: 0;
  }

  .process-subtext {
    display: none;
  }

  .step-wrapper {
    flex-direction: column-reverse;
    padding: 4vw;
  }

  .step {
    border-radius: 30px;
  }

  .step-header {
    flex-direction: column;
    gap: 10vw;
    padding-bottom:8vw;
  }

  .step-title {
    font-size: 12vw;
    font-weight: 450;
    width: auto;
    line-height: 1;
  }

  .step-subtitle {
    margin: 0;
  }

  .step-description {
    font-size: 6vw;
    padding-bottom: 0;
    letter-spacing: -0.1vw;
    margin: 0;
    width: auto;
  }

  .services-side {
    display: none;
  }

  .services-tab {
    padding-left: 0;
  }

  .service-header {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0;
  }

  .service-title {
    font-size: 48px;
  }

  .service-price, .service-description {
    font-size: 24px;
  }

  .service-description {
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .contacts .container {
    flex-direction: column;
  }

  .contacts-info {
    padding-top: 0;
  }

  .contacts-item {
    font-size: 8vw;
    line-height: 1.4;
  }

  .contacts-main {
    padding-left: 0;
    padding-top: 60px;
  }

  .form-group input {
    height: 18vw;
    width: 100%;
    border-radius: 8vw;
    font-size: 8vw;
  }

  input[type="text"]{
    padding-left:6vw;
  }

  input::placeholder {
    font-size: 24px;
  }

  .submit {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-button {
    padding: 24px 30px;
    margin: 0;
    margin-top: 12px;
    border-radius: 12vw;
  }

  .submit button {
    font-size: 24px;
  }

  .submit img {
    display: none;
  }

  .form-policy {
    font-size: 18px;
    padding-left: 0;
  }

  footer {
    display: none;
  }
  
   /* Исправление для табов услуг */
   /* Исправление закруглений для всех сервисных блоков */
   .service {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 8vw !important;
    display:flex;
    flex-direction: column;
    overflow: hidden !important;
    box-sizing: border-box !important;
    margin-right: 0 !important;
    padding: 8vw 4vw 12vw 4vw;
    gap: 6vw;
  }

  /* Фикс для правого закругления */
  .service > * {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }

  .sites-list .service {
    border-radius: 8vw !important;
  }
  

   .services-tab {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    width:100%;
    padding-right: 4vw;
    padding-left:4vw;
    padding-bottom: 2vw;
  }

  .services-button {
    font-size: 6vw;
    padding: 0;
    letter-spacing: -0.1vw;
    margin: 0;
    width: auto;
    flex-shrink: 0;
  }

  .services-list {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
  }

  .tab-content {
    width: 100%;
    flex-direction: column;
  }

  .service {
    width: 100%;
  }

  .service-header {
    flex-direction: column;
    align-items: flex-start;
    border-top-right-radius: 30px;
    gap:2vw;
  }

  .service-title {
    font-size: 12vw;
    font-weight: 450;
    width: auto;
    line-height: 1;
  }

  .service-price {
    text-align: left;
    font-size: 6vw;
    letter-spacing: -0.1vw;
    padding-top: 2vw;
  }

  .service-description {
    font-size: 6vw;
    padding-bottom: 0;
    letter-spacing: -0.1vw;
    margin: 0;
    width: auto;
  }

  /*Специфичные стили для вкладки wwwebcare*/
  .webcare-wrapper {
    width: calc(100% + 24px) !important;
    margin-right: -24px !important;
    padding-right: 24px !important;
  }

  .webcare-wrapper .service-description {

    font-size: 6vw;
    letter-spacing: -0.2vw;
  }

  .webcare-wrapper .service-price {
    font-size: 6vw;
    letter-spacing: -0.2vw;
  }

  .form-group{
    justify-content: flex-start;
  }
  
  }