{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="64789118f047a68b" />
    <meta name="google-site-verification" content="zMZ91Wp-xRTJx4MClUOMcL7X5IRj5qxN_tmFtlPAxr8" />
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/adapt.css' %}">
    <link rel="shortcut icon" href="{% static 'web/images/favicon.ico' %}" type="image/x-icon" />
    
    <link rel="canonical" href="https://arrowww.ru">
    <script src="{% static 'web/js/script.js' %}"></script>
    <meta name="description" content="Arrowww — веб-студия, специализирующаяся на разработке сайтов, цифровых решений и онлайн-продвижении. Мы помогаем бизнесу расти в digital.">
    <meta name="keywords" content="веб-разработка, digital-агентство, создание сайтов, онлайн-продвижение, разработка решений, digital marketing">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Arrowww">
    <title>Arrowww — Веб-студия для бизнеса и digital решений</title>
    <!-- Открытые графические мета-теги -->
    <meta property="og:title" content="Arrowww — Веб-студия для бизнеса и digital решений">
    <meta property="og:description" content="Arrowww — создаем эффективные сайты и цифровые решения, помогая вашему бизнесу расти в digital-пространстве.">
    <meta property="og:image" content="https://arrowww.ru/static/web/images/logo.svg">
    <meta property="og:url" content="https://arrowww.ru">
    <meta property="og:type" content="website">
</head>

<body>
    <header class="header desktop" id="header-desktop">
        <div class="container">
            <a href="#" class="logo">
                <img src="{% static 'web/images/logo.svg' %}" alt="Arrowww logo" class="logo-icon">
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#about" class="text-main">мы</a>
                    </li>
                    <li class="nav-item">
                        <a href="#process" class="text-main">процесс</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="text-main">услуги</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacts" class="text-main">контакты</a>
                    </li>
                </ul>
            </nav>
            <a href="#contacts" class="cta-button">
                <span class="text-main">обсудить проект</span>
                <img src="{% static 'web/images//logo_m_w.svg' %}" alt="Arrowww" class="cta-button-icon">
            </a>
        </div>
    </header>

    <header class="header mobile" id="header-mobile">
        <div class="container">
            <a href="#" class="burger-menu" id="burgerButton">
                <svg width="30" height="20" viewBox="0 0 30 20">
                    <rect width="30" height="2" fill="#242424" class="top"></rect>
                    <rect y="9" width="30" height="2" fill="#242424" class="middle"></rect>
                    <rect y="18" width="30" height="2" fill="#242424" class="bottom"></rect>
                  </svg>
            </a>
            <div class="burger-menu-content" id="burgerMenu">
                <a href="#about">о нас</a>
                <a href="#process">процесс</a>
                <a href="#services">услуги</a>
                <a href="#contacts">контакты</a>
            </div>
            <span class="logo-mobile">
                arrowww
            </span>
            <a href="#" class="cta-button-mobile">
                <img src="{% static 'web/images/logo_m.svg' %}" alt="">
            </a>
        </div>
    </header>

    <main class="main" id="main">
        <section class="hero" id="hero">
            <div class="container">
                <div class="location">
                    <span class="text-main">г. хабаровск</span>
                    <img src="{% static 'web/images/footer-logo.svg' %}" alt="Arrowww" class="location-icon">
                </div>
                <div class="hero-info">
                    <div class="hero-title">
                        <h1 class="hero-text">
                            помогаем<br>
                            бизнесу расти
                        </h1>
                        <img src="{% static 'web/images/logo_m.svg' %}" alt="Arrowww" class="hero-icon">
                    </div>
                    <p class="text-main">
                        создаём сайты, которые<br>
                        <span style="color: #0095FF;">приносят прибыль</span>
                    </p>
                </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="container">
                
                <div class="about_grid">
                    <article class="feature" style="background: linear-gradient(135deg, #00a5ff, #0095ff); color: white;">
                        <h3 class="feature_header">
                            повышаем<br>выручку
                        </h3>
                        <p class="feature_text">
                            с заказов в интернете и оффлайн
                            за счёт экспертного опыта
                            и свежего взгляда
                        </p>
                    </article>
                    <article class="feature" style="background: linear-gradient(135deg, #363636, #232323); color: white;">
                        <h3 class="feature_header">
                            гарантируем<br>результат
                        </h3>
                        <p class="feature_text">
                            30 дней тех. поддержки бесплатно, больше выгоды <span>с подпиской</span>
                            <span style="text-decoration: underline;">wwwebcare+</span>
                        </p>
                    </article>
                    <article class="feature" style="background-color: white;">
                        <h3 class="feature_header">
                            экономим<br>бюджет
                        </h3>
                        <p class="feature_text">
                            используем только то, что принесёт результат и предлагаем различные варианты оплаты
                        </p>
                    </article>
                    <article class="feature" style="background-color: white;">
                        <h3 class="feature_header">
                            выполняем<br> условия
                        </h3>
                        <p class="feature_text">
                            составляем персональный прозрачный договор, грамотное тз и объявляем чёткие сроки
                        </p>
                    </article>
                </div>
            </div>
        </section>

        <section class="cases" id="cases">
            <div class="container cakeboy">
                <a href="{% url 'case0' %}" class="case-container" style="text-decoration-color: #242424;" >
                    <img src="{% static 'web/images/1.png' %}" alt="case1" class="case-image">
                    <div class="case-name-container">
                        <h3 class="case-title">премиум клининг</h3>
                        <h3 class="text-main" style="color:#242424;">лендинг</h3>
                    </div>
                </a>
                <a href="{% url 'case1' %}" class="case-container" style="text-decoration-color: #242424;">
                    <img src="{% static 'web/images/2.png' %}" alt="case1" class="case-image">
                    <div class="case-name-container">
                        <h3 class="case-title">maksim flowers</h3>
                        <h3 class="text-main" style="color:#242424;">веб-магазин</h3>
                    </div>
                </a>
                <a href="{% url 'case2' %}" class="case-container" style="text-decoration-color: #242424;">
                    <img src="{% static 'web/images/3.png' %}" alt="case1" class="case-image">
                    <div class="case-name-container">
                        <h3 class="case-title">lms v0.51</h3>
                        <h3 class="text-main" style="color:#242424;">приложение</h3>
                    </div>
                </a>
            </div>
        </section>

        <section class="process" id="process">
            <div class="container">
                <div class="process-title">
                    <h2 class="section-title">процесс</h2>
                    <p class="text-main">этапы могут отличаться в зависимости от сложности проекта</p>
                </div>
                <div class="process-steps">
                    <article class="step" style="background: linear-gradient(135deg, #00a5ff, #0095ff);">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title" style="color: white;">
                                    обсудим<br>
                                    цели
                                </h3>
                                <p class="step-description" style="color: white;">
                                    после того как вы заполните бриф,
                                    сразу определим цену и сроки
                                    выполнения
                                </p>
                            </div>
                            <p class="text-main" style="color: white;">
                                встреча
                            </p>
                        </div>
                    </article>
                    <article class="step">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title">
                                    проведём<br>
                                    исследование
                                </h3>
                                <p class="step-description">
                                    вашего бизнеса и ниши, конкурентов,
                                    определим целевую аудиторию
                                </p>
                            </div>
                            <p class="text-main">
                                этап 2
                            </p>
                        </div>
                    </article>
                    <article class="step">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title">
                                    определим<br>
                                    структуру
                                </h3>
                                <p class="step-description">
                                    проработав userflow под задачи
                                    вашего бизнеса, определимся
                                    с набором интегрируемых сервисов
                                </p>
                            </div>
                            <p class="text-main">
                                этап 3
                            </p>
                        </div>
                    </article>
                    <article class="step" style="background: linear-gradient(135deg, #363636, #232323);">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title" style="color: white;">
                                    согласуем<br>
                                    концепцию
                                </h3>
                                <p class="step-description" style="color: white;">
                                    на основе мудбордов и вашей
                                    айдентики, подберём шрифты
                                    и визуальный стиль
                                </p>
                            </div>
                            <p class="text-main" style="color: white;">
                                этап 4 - предоплата 50%
                            </p>
                        </div>
                    </article>
                    <article class="step">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title">
                                    напишем<br>
                                    код с нуля
                                </h3>
                                <p class="step-description">
                                    без использования конструкторов
                                    сайтов или шаблонных макетов,
                                    работа уникальна
                                </p>
                            </div>
                            <p class="text-main">
                                этап 5
                            </p>
                        </div>
                    </article>
                    <article class="step">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title">
                                    оптимизируем<br>
                                    seo сайта
                                </h3>
                                <p class="step-description">
                                    чтобы клиенты видели именно ваш
                                   сайт в поисковых системах яндекс
                                    и google
                                </p>
                            </div>
                            <p class="text-main">
                                этап 6
                            </p>
                        </div>
                    </article>
                    <article class="step" style="background: linear-gradient(135deg, #00a5ff, #0095ff);">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title" style="color: white;">
                                    запустим<br>
                                    и научим
                                </h3>
                                <p class="step-description" style="color: white;">
                                    пользоваться админкой и любыми
                                    подключёнными сервисами
                                </p>
                            </div>
                            <p class="text-main" style="color: white;">
                                этап 7 - постоплата 50%
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="services" id="services">
            <div class="container">
                <div class="services-side">
                    <h2 class="section-title">услуги</h2>
                    <div class="text-main">
                        <p class="services-item">
                            в цены входит базовая<br>
                            оптимизация сайта под поисковые <br>
                            запросы, а также тех. поддержка<br>
                            в течение 30 дней после сдачи<br>
                            готового проекта
                        </p>
                        <p class="services-item">
                            стоимость может варьироваться<br>
                            в зависимости от сложности сайта
                        </p>
                        <p class="services-item">
                            все дополнительные услуги<br>
                            приобретаются отдельно
                        </p>
                    </div>
                </div>
                <div class="services-main">
                    <div class="services-tab">
                        <button class="services-button" id="sitesLink">сайты</button>
                        <button class="services-button" id="webcareLink">wwwebcare</button>
                        <button class="services-button" id="extraLink">ещё</button>
                    </div>
                    <div class="services-list">
                        <div class="sites-list tab-content" id="sites">
                            <article class="service service-white"style="background: linear-gradient(135deg, #363636, #232323);">
                                <div class="service-header">
                                    <h3 class="service-title">лендинг</h3>
                                    <p class="service-price">от 20 000 Р</p>
                                </div>
                                <p class="service-description">
                                    одностраничный продающий сайт
                                    с кнопкой купить или формой заявки
                                </p>
                            </article>
                            <article class="service"style="background-color: white;">
                                <div class="service-header">
                                    <h3 class="service-title">веб-магазин</h3>
                                    <p class="service-price" style="color: #242424;">от 100 000 Р</p>
                                </div>
                                <p class="service-description">
                                    сайт с каталогом любого размера, сервисом
                                    онлайн оплаты и т. д.
                                    </p>
                            </article>
                            <article class="service service-white"style="background: linear-gradient(135deg, #00a5ff, #0095ff);">
                                <div class="service-header">
                                    <h3 class="service-title">бренд сайт</h3>
                                    <p class="service-price">от 50 000 Р</p>
                                </div>
                                <p class="service-description">
                                    лицо вашего бренда в интернете, формирующее
                                    имидж и общее впечатление от компании
                                </p>
                            </article>
                            <article class="service">
                                <div class="service-header">
                                    <h3 class="service-title">быстрый</h3>
                                    <p class="service-price" style="color: #242424;">от 10 000 Р</p>
                                </div>
                                <p class="service-description">
                                    шаблонный простейший сайт за 3 дня, подойдёт
                                    для одной услуги или временного предложения
                                </p>
                            </article>
                        </div>
                        <div class="sites-list tab-content" id="webcare">
                            <article class="service" style="background-color: white;">
                                <div class="webcare-wrapper">
                                    <h3 class="service-title">
                                        start
                                    </h3>
                                    <p class="service-description">
                                        ежедневный мониторинг сайта<br>
                                        простое seo и тексты<br>
                                        ежемесячная резервная копия<br>
                                        консультация по cms<br>
                                        техническая поддержка
                                    </p>
                                    <p class="service-price">
                                        от 5 000 Р
                                    </p>
                                </div>
                            </article>
                            <article class="service" style="background: linear-gradient(135deg, #363636, #232323);">
                                <div class="webcare-wrapper service-white">
                                    <h3 class="service-title">
                                        wwwebcare
                                    </h3>
                                    <p class="service-description">
                                        всё, что в start<br>
                                        активное seo и до 3-х статей<br>
                                        до 3-х a/b-тестирований элементов<br>
                                        аналитика до 2-х метрик
                                    </p>
                                    <p class="service-price">
                                        от 20 000 Р
                                    </p>
                                </div>
                            </article>
                            <article class="service"style="background: linear-gradient(135deg, #00a5ff, #0095ff);">
                                <div class="webcare-wrapper service-white">
                                    <h3 class="service-title">
                                        wwwebcare+
                                    </h3>
                                    <p class="service-description">
                                        всё, что в wwwebcare<br>
                                        персональная маркетинг-стратегия<br>
                                        глубокая аналитика метрик<br>
                                        регулярные гипотезы и тесты<br>
                                        интеграция новых функций
                                    </p>
                                    <p class="service-price">
                                        от 80 000 Р
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="sites-list tab-content" id="extra">
                            <article class="service service-white"style="background: linear-gradient(135deg, #00a5ff, #0095ff);">
                                <div class="service-header">
                                    <h3 class="service-title">редизайн</h3>
                                    <p class="service-price">от 40 000 Р</p>
                                </div>
                                <p class="service-description">
                                    проведём аудит вашего сайта, исследуем
                                    рынок и предложим оптимальное решение
                                </p>
                            </article>
                            <article class="service"style="background-color: white;">
                                <div class="service-header">
                                    <h3 class="service-title">seo+</h3>
                                    <p class="service-price" style="color: #242424;">от 20 000 Р</p>
                                </div>
                                <p class="service-description">
                                    проведём аудит seo вашего сайта и качественно
                                    поднимем его место в поисковых системах
                                </p>
                            </article>
                            <article class="service service-white"style="background: linear-gradient(135deg, #363636, #232323);">
                                <div class="service-header">
                                    <h3 class="service-title">реклама</h3>
                                    <p class="service-price">от 20 000 Р</p>
                                </div>
                                <p class="service-description">
                                    разработаем, запустим и будем вести баннерную
                                    рекламу в в яндексе, vk и пр.
                                    </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contacts" id="contacts">
            <div class="container">
                <div class="contacts-side">
                    <h2 class="section-title">оставьте заявку <br> или свяжитесь сами</h2>
                    <div class="contacts-info">
                        <a class="contacts-item" href="https://t.me/arrowwwsales">tg @arrowwwsales</a>
                        <a class="contacts-item"href="mailto:arrowwwsales@ya.ru">arrowwwsales@ya.ru</a>
                        <a class="contacts-item" href="tel:+79990820811">+7 999 082 08 11</a>
                    </div>
                </div>
                <div class="contacts-main">
                    <form method="post" class="contacts-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="name" placeholder="имя или название компании" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="contact" placeholder="какую задачу хотите решить" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="message" placeholder="как с вами связаться" required>
                        </div>
                        <div class="submit">
                            <div class="form-button">
                                <button type="submit">свяжитесь со мной</button>
                                <img src="{% static 'web/images/logo_m_w_l.svg' %}" alt="Arrowww" class = "button-icon">
                            </div>
                            <p class="form-policy">
                                <span class="form-policy-text">
                                    нажимая на кнопку я согласен<br>
                                    с <a href="{% url 'privacy' %}" target="_blank" class="form-policy-link" style="color: #242424;">политикой конфиденциальности</a>
                                </span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="location">
                <span class="text-main">г. хабаровск</span>
                <img src="{% static 'web/images/footer-logo.svg'%}" alt="Arrowww" class="location-icon">
            </div>
            <div class="footer-info">
                <img src="{% static 'web/images/logo.svg' %}" alt="" class="footer-logo">
                <span class="text-main">
                    ARROWWW 2025<br>
                    все права сохранены
                </span>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'web/js/script.js' %}"></script>
</body>
</html>
