{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>заявка отправлена / arrowww</title>
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/adapt.css' %}">
    <script src="{% static 'web/js/script.js' %}"></script>    
    <link rel="shortcut icon" href="{% static 'web/images/favicon.ico' %}" type="image/x-icon" />
</head>
<body>
   <header class="header desktop" id="header-desktop">
        <div class="container">
            <a href="https://arrowww.ru" class="logo">
                <img src="{% static 'web/images/logo.svg' %}" alt="Arrowww logo" class="logo-icon">
            </a>
            <span class="text-main">спасибо за обращение</span>
            <a href="https://arrowww.ru" class="cta-button">
                <span class="text-main">на главную</span>
                <img src="{% static 'web/images//logo_m_w.svg' %}" alt="Arrowww" class="cta-button-icon">
            </a>
        </div>
    </header>

   <header class="header mobile" id="header-mobile">
        <div class="container">
            <a class="logo-mobile" href="https://www.arrowww.ru" style="text-decoration:none; color:#242424">
                <span>arrowww</span>
            </a>
            <a href="#contacts" class="cta-button-mobile">
                <img src="{% static 'web/images/logo_m.svg' %}" alt="">
            </a>
        </div>
    </header>

    <main>
        <section class="hero" id="hero">
            <div class="container">
                <div class="location">
                    <span class="text-main">г. хабаровск</span>
                    <img src="{% static 'web/images/footer-logo.svg' %}" alt="Arrowww" class="location-icon">
                </div>
                <div class="hero-info">
                    <div class="hero-title">
                        <h1 class="hero-text">
                            заявка<br>
                            отправлена
                        </h1>
                        <img src="{% static 'web/images/logo_m.svg' %}" alt="Arrowww" class="hero-icon" style="margin-left:40vw;">
                    </div>
                    <p class="text-main">
                        мы свяжемся с вами<br>
                        <span style="color: #0095FF;">в ближайшее время</span>
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
