<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Спасибо!</title>
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
</head>
<body>
     <section class="process" id="process">
            <div class="container">
                <div class="process-steps">
                    <article class="step" style="background: linear-gradient(135deg, #00a5ff, #0095ff);">
                        <div class="step-wrapper">
                            <div class="step-header">
                                <h3 class="step-title" style="color: white;">
                                    спасибо<br>
                                    за обращение!
                                </h3>
                                <p class="step-description" style="color: white;">
                                    наш прекрасный менеджер<br>
                                    свяжется с вами в ближайшее<br>
                                    время и обсудит детали
                                </p>
                            </div>
                            <p class="step-subtitle" style="color: white;">
                                arrowww 2025
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
</body>
</html>
